.f-listbox-root {
  background: var(--ref-color-transparent);
}

.f-listbox-content {
  background: var(--ref-color-transparent);
  display: flex;
  flex-direction: column;
  gap: var(--ref-spacing-none);
}

.f-listbox-item {
  background: var(--ref-color-transparent);
  color: var(--sys-on-surface-variant);
  border-color: var(--ref-color-transparent);
  padding-left: var(--ref-spacing-md);
  padding-right: var(--ref-spacing-md);
  padding-top: var(--ref-spacing-xs);
  padding-bottom: var(--ref-spacing-xs);
  cursor: pointer;
  font-size: var(--ref-text-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ref-spacing-sm);
}

.f-listbox-item:not(:disabled):not([data-disabled]):hover {
  color: var(--sys-on-surface);
  background: var(--sys-hover);
}

.f-listbox-item:not(:disabled):not([data-disabled]):active {
  color: var(--sys-primary);
}

.f-listbox-item:not(:disabled):not([data-disabled]):focus-visible {
  background: var(--ref-color-transparent);
  box-shadow: var(--ref-shadow-focus-inset);
}

.f-listbox-item[data-selected],
.f-listbox-item[data-state='checked'],
.f-listbox-item[data-highlighted] {
  color: var(--sys-primary);
  background: var(--sys-surface-container-high);
  box-shadow: var(--ref-shadow-border-left);
}

.f-listbox-item[data-selected]:not(:disabled):not([data-disabled]):hover,
.f-listbox-item[data-state='checked']:not(:disabled):not([data-disabled]):hover {
  color: var(--sys-primary);
  background: var(--sys-hover);
  box-shadow: var(--ref-shadow-border-left);
}

.f-listbox-item[data-selected]:not(:disabled):not([data-disabled]):active,
.f-listbox-item[data-state='checked']:not(:disabled):not([data-disabled]):active {
  box-shadow: var(--ref-shadow-border-left);
  color: var(--sys-primary);
}

.f-listbox-item[data-selected]:not(:disabled):not([data-disabled]):focus-visible,
.f-listbox-item[data-state='checked']:not(:disabled):not([data-disabled]):focus-visible {
  color: var(--sys-primary);
  background: var(--sys-surface-container-high);
  box-shadow: var(--ref-shadow-border-left-focus);
}

.f-listbox-item:disabled,
.f-listbox-item[data-disabled] {
  cursor: not-allowed;
}
