.f-surround-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--ref-spacing-md);
}

.f-surround-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 50%;
  gap: var(--ref-spacing-xs);
  padding-top: var(--ref-spacing-md);
  padding-right: var(--ref-spacing-lg);
  padding-bottom: var(--ref-spacing-md);
  padding-left: var(--ref-spacing-lg);
  text-decoration: none;
  border-top-width: var(--ref-border-width-thin);
  border-right-width: var(--ref-border-width-thin);
  border-bottom-width: var(--ref-border-width-thin);
  border-left-width: var(--ref-border-width-thin);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: var(--sys-outline);
  cursor: pointer;
}

.f-surround-prev:hover {
  border-color: var(--sys-outline);
  background: var(--sys-hover);
}

.f-surround-prev:active {
  border-color: var(--sys-outline);
}

.f-surround-prev:focus-visible {
  border-color: var(--sys-outline);
  background: var(--ref-color-transparent);
  box-shadow: var(--ref-shadow-focus-inset);
}

.f-surround-next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 50%;
  gap: var(--ref-spacing-xs);
  padding-top: var(--ref-spacing-md);
  padding-right: var(--ref-spacing-lg);
  padding-bottom: var(--ref-spacing-md);
  padding-left: var(--ref-spacing-lg);
  text-decoration: none;
  border-top-width: var(--ref-border-width-thin);
  border-right-width: var(--ref-border-width-thin);
  border-bottom-width: var(--ref-border-width-thin);
  border-left-width: var(--ref-border-width-thin);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: var(--sys-outline);
  cursor: pointer;
}

.f-surround-next:hover {
  border-color: var(--sys-outline);
  background: var(--sys-hover);
}

.f-surround-next:active {
  border-color: var(--sys-outline);
}

.f-surround-next:focus-visible {
  border-color: var(--sys-outline);
  background: var(--ref-color-transparent);
  box-shadow: var(--ref-shadow-focus-inset);
}

.f-surround-label {
  display: inline-flex;
  align-items: center;
  gap: var(--ref-spacing-2xs);
  color: var(--sys-on-surface-variant);
  font-size: var(--ref-text-sm);
  font-weight: var(--ref-font-medium);
}

.f-surround-title {
  color: var(--sys-on-surface);
  font-size: var(--ref-text-base);
  font-weight: var(--ref-font-bold);
}

.f-surround-prev-description {
  color: var(--sys-on-surface-variant);
  font-size: var(--ref-text-sm);
  font-weight: var(--ref-font-normal);
}

.f-surround-next-description {
  color: var(--sys-on-surface-variant);
  font-size: var(--ref-text-sm);
  font-weight: var(--ref-font-normal);
  text-align: end;
}
